[user]
	name = micchy326
	email = micchy326@gmail.com
[diff]
	tool = vimdiff
[difftool]
	prompt = true
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[difftool "dirdiff"]
	cmd = vim -f '+execute \"ZFDirDiff\" argv(0) argv(1)' $LOCAL $REMOTE
[alias]
	dirdiff = difftool -d -t dirdiff

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	autocrlf = false
